/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
h1{
    font-family: 'Roboto Mono', monospace;
}